@page "/"

@inject IJSRuntime ijsruntime;

<PageTitle>Home</PageTitle>

<h1>Hello, @test!</h1>

Welcome to your new app.

<script>
	function jsFuncion(){
	alert("Hola Mundo")

	}
</script>

@code{
	string test = "Alexandro";

	protected override async Task OnAfterRenderAsync(bool firstRender){
		if(firstRender){
			await ijsruntime.InvokeVoidAsync("jsFuncion", null);
		}
	}
}